#productos-container{
    width: 500px;
    margin: auto;
}

.tarjetas-producto{
    display: flex;
    gap: 20px;
    align-items: center;
}
.tarjetas-producto img{
    height: 100px;
    aspect-ratio: 1.5;
}
.tarjetas-producto h3{
   width: 130px;
}

#totales{
    text-align: center;
}
